<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lights!</title>
    <meta name="description" content="Control over some LEDs">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="btn-group-vertical">
        {% for pattern in available_patterns %}
        <button type="button" class="btn btn-primary" onclick="setPatternStuff('{{pattern}}')">{{ pattern
            }}</button>
        {% endfor %}
        <button id="stop" class="btn btn-danger" onclick="stop()">Stop</button>
    </div>
    <div>
        <input type="color" id="colorWell" name="colorWell" value="#aa2200">
        <label for="lights">Pick a color</label>
    </div>
</body>

<script>
    ///////////////
    // color picker stuff usinng input type="color"
    // kind of looks like shit on mobile
    var colorWell;
    var defaultColor = "#111111";
    var colorArr = [17, 17, 17];

    window.addEventListener("load", startup, false);

    function startup() {
        colorWell = document.querySelector("#colorWell");
        colorWell.value = defaultColor;
        colorWell.addEventListener("input", updateFirst, false);
        colorWell.addEventListener("change", updateAll, false);
        colorWell.select();
    }

    function updateFirst(event) {
        // update colorArr to reflect the value picked
        var colorString = event.target.value;
        var colorStringArr = [colorString.substring(1, 3), colorString.substring(3, 5), colorString.substring(5, 7)];
        colorArr = colorStringArr.map(x => parseInt(x, 16));
    }
    ////////////////

    function setPatternStuff(pattern) {
        // window.location.href = `/start/${pattern}/${colorArr[0]}+${colorArr[1]}+${colorArr[2]}`
        const Http = new XMLHttpRequest();
        const url = `/start/${pattern}/${colorArr[0]}+${colorArr[1]}+${colorArr[2]}`;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {

            if (Http.readyState === XMLHttpRequest.DONE) {
                console.log(Http.responseText)

                Toastify({
                    text: Http.responseText,
                    duration: 1000,
                    newWindow: true,
                    close: true,
                    gravity: "bottom", // `top` or `bottom`
                    position: "right", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
            }

        }
    }

    function stop() {
        // window.location.href = `/start/${pattern}/${colorArr[0]}+${colorArr[1]}+${colorArr[2]}`
        const Http = new XMLHttpRequest();
        const url = `/stop`;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {

            if (Http.readyState === XMLHttpRequest.DONE) {
                console.log(Http.responseText)

                Toastify({
                    text: Http.responseText,
                    duration: 1000,
                    newWindow: true,
                    close: true,
                    gravity: "bottom", // `top` or `bottom`
                    position: "right", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
            }

        }

    }
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>
